a{text-decoration: none;}
.class-plus{
    background:url(plus.png) no-repeat center center;
    padding: 8px 8px;
    width: 8px;
    height:8px;
    text-align: center;
    background-size:contain;
}

.class-minus{
    background:url(minus.png) no-repeat center center;
    padding: 8px 8px;
    width: 8px;
    height:8px;
    text-align: center;
    background-size:contain;
}




